* {
    margin: 0;
    padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px 20px 15px;
}

.left a {
    padding: 5px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-i {
    width: 300px;
    height: 30px;
    border: 1px solid #bebebe;
}

#search {
    background: #dddddd;
    border: 1px solid #bebebe;
    width: 30px;
    height: 30px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    top: 0.1rem;
}

#eu {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.right a {
    padding: 5px;
}

.watchvid{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 60px;
}
.watchvid p{
    padding-top: 20px;
    padding-bottom: 20px;
}

.watchvid img{
    width: 80rem;
    border-radius: 15px;
}

.vidactions{
    display: flex;
    align-items: center;
    margin-left: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.vidactions p{
    padding-left: 10px;
}
.vidactions button{
    margin-left: 10px;
    background-color: #121212;
    border: none;
    font-size: 14px;
    padding: 15px;
    color: white;
    box-sizing: border-box;
    border-radius: 30px;
    transition: .3s;
}
.vidactions button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.vidlike{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 350px;
    
}
.vidlike a{
  
    padding-left: 50px;
    transition: transform .3s;
}
.vidlike a:hover{
  
    opacity: 0.8;
    transform: scale(1.05);
}

.vidshare{
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.videsc{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.videsc p{
    margin-top: 10px;
}

.sidebar{
    display: flex;
    justify-content: end;
    position: absolute;
    top: 5rem;
    right: 5rem;
}

footer{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
    color: white;
    margin-top: 10px;
    padding: 20px 0 20px 0;
}
